.wrap-task1 {
    position: relative;
    height: 150px
}

#animated-element {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}

.wrap-task2 {
    height: 200px;
    position: relative;
}

.animat-element2 {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 10px;
}