.wrap-task1 {
    position: relative;
    height: 150px
}

#animated-element {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}

.wrap-task2 {
    height: 200px;
    position: relative;
}

.animat-element2 {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 10px;
}

/* Task3 */
.animate-slide-page {
    margin: 100px auto;
}

.animate-block-page {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 2px solid #333;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.animate-block-page>* {
    position: absolute;
    display: flex;
}

.animate-block-page>.page1 {
    background-color: red;
}

.animate-block-page>.page2 {
    background-color: blue;
}

.animate-block-page>.page3 {
    background-color: green;
}

.buttons-change {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.back,
.next {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.back {
    background-image: url(./icons/back.png);
}

.next {
    background-image: url(./icons/next.png);
}